<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">联系我们</h3>
                    <div class="widget-body">
                        <p>电话：+022-83716688<br>
                            邮箱：<a href="">xinqingnian@126.com</a><br>
                            地址：天津市河西区曲阜道662号“心·青年”志愿者公会
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">友情链接</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="http://www.zgzyz.org.cn/" style="font-size: 20px">中国青年志愿者网</a><br>
                            <a href="http://shequ.enorth.com.cn/zyz/" style="font-size: 20px">天津志愿者服务网</a><br>
                            <a href="http://www.tjwenming.cn/" style="font-size: 20px">天津文明网</a><br>
                            <a href="http://www.cydf.org.cn/" style="font-size: 20px">中国青少年发展基金会</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">网站简介</h3>
                    <div class="widget-body">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;公益项目的创新，离不开以“新媒体”为载体的创新。移动新媒体的力量在公益事业风起云涌，无论是公众抑或是公益机构都在这股新媒体力量的推动下，参与中国公益事业的变革。随着传播媒介的不断增多，互联网时代向移动互联网时代的转变。传统公益事业的宣传和传播也逐步的在发生着改变，慈善事业需要更加普及化让更多人更方便、轻松地传递爱心。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;通过对于“心·青年”志愿活动平台的建设，大力宣传志愿者活动，吸引更多的青年大学生参与志愿者活动；并且分类规划志愿者服务类型，志愿者根据具体的个人情况参与活动；建立表彰激励机制鼓励志愿者积极注册报名参加活动。</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2018,zcz.</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>